<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/random.css">
    <title>Random Pick Valorant</title>
</head>
<body>
    <script>
        function pickAgents() {
            let nb_agents = document.getElementById("nb_agents").value;
            let verif = Number(nb_agents);

            if (verif < 1 || verif > 5 || isNaN(verif)) {
                alert("Veuillez entrer un nombre entre 1 et 5.");
                return;
            }

            let formData = new FormData();
            formData.append("nb_agents", nb_agents);
            
            fetch("/random_pick/pick", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let resultHTML = '';
                data.forEach(agent => {
                    resultHTML += `
                        <div class="agent">
                            ${agent.nom_agent}
                            <picture>
                                <source media="(max-width: 768px)" srcset="/static/images/images_agents/${agent.icon_agent}" alt="${agent.nom_agent}">
                                <img src="/static/images/images_agents/${agent.image_agent}" alt="${agent.nom_agent}">
                            </picture>
                        </div>
                    `;
                });
                document.getElementById("resultat").innerHTML = resultHTML;
            })
            .catch(error => console.error("Erreur:", error));
        }
    </script>
    <h1>Random Pick</h1>
    <label>Nombre d'agents</label>
    <input type="number" id="nb_agents" min="1" max="5" value="1">
    <button onclick="pickAgents()">Tirer au sort</button>
    <container id="resultat">. . .</container>
</body>
</html>
