* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li {
    margin: 0 30px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 110%;
}

section {
    padding: 50px 20px;
    text-align: center;
}

#accueil {
    background-color: #282828;
    color: #fff;
}

#apropos h2{margin-bottom: 10px;}

#cv_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cv_button:hover {
    background-color: #555;
}

#projets{
    background-color: #e2e2e2;
}

#projets h2{margin-bottom: 30px;}

.projets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.personnels{margin-bottom: 50px;}   

.projet {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    cursor: pointer;
}

.projet:hover {
    transform: scale(1.03);
}

.projet h3 {
    margin-top: 10px;
    color: black;
}

.projet p {color: #666;}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
      display: none; /* Pour retirer mon header sur un écran trop petit */
    }
}