*{
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

body{
    background-color: #eaeaea;
}

div{
    padding: 20px;
}

#download_link{
    font-size: 200%;
    text-decoration: none;
}
