<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GenshinDB</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>

</head>
<body>
    <h1>GENSHIN DATABASE</h1>  

    <form action="/" method="get">
        <div class="recherche">
            <input type="text" name="nom_personnage_recherche" placeholder="Rechercher un personnage" value="{{ nom_recherche }}">
            <button type="submit">Rechercher</button>
        </div>

        <table style="margin-left: auto; margin-right: auto; border-style:solid ; border-color: black;">
            <thead>
                <tr>
                    <th><button class="tri" type="submit" name="tri" value="p.nom_personnage">Nom</button></th>
                    <th><button class="tri" type="submit" name="tri" value="p.type_arme_personnage">Arme</button></th>
                    <th><button class="tri" type="submit" name="tri" value="p.type_personnage">Element</button></th>
                    <th><button class="tri" type="submit" name="tri" value="pierres.nom_pierre">Pierre</button></th>
                    <th></th>
                    <th><button class="tri" type="submit" name="tri" value="boss.nom_boss">Boss</button></th>
                    <th></th>
                    <th><button class="tri" type="submit" name="tri" value="bh.nom_boss_hebdo">Boss Hebdo</button></th>
                    <th><button class="tri" type="submit" name="tri" value="fleurs.nom_fleur">Fleur</button></th>
                    <th><button class="tri" type="submit" name="tri" value="livres.nom_livre">Livre</button></th>
                    <th><button class="tri" type="submit" name="tri" value="om.nom_objet_monstre">Objet</button></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><img id="images_personnages" src="/static/images/images_personnages/{{ item['image_personnage'] }}" title="{{ item['nom_personnage'] }}"></td>
                        <td><img src="/static/images/images_armes/{{ item['image_type_arme'] }}" title="{{ item['type_arme_personnage'] }}"></td>
                        <td><img src="/static/images/images_elements/{{ item['image_type'] }}" title="{{ item['type_personnage'] }}"></td>
                        <td><img src="/static/images/images_pierres/{{ item['image_pierre'] }}"></td>
                        <td><img src="/static/images/images_boss/{{ item['image_objet_boss'] }}" title="{{ item['nom_objet_boss'] }}"></td>
                        <td>{{ item['nom_boss'] }}</td> 
                        <td><img src="/static/images/images_boss_hebdo/{{ item['image_objet_boss_hebdo'] }}" title="{{ item['nom_objet_boss_hebdo'] }}"></td>
                        <td>{{ item['nom_boss_hebdo'] }}</td>
                        <td><img src="/static/images/images_fleurs/{{ item['image_fleur'] }}" title="{{ item['nom_fleur'] }}"></td>
                        <td><img src="/static/images/images_livres/{{ item['image_livre'] }}" title="{{ item['nom_livre'] }}"></td>
                        <td><img src="/static/images/images_objets_monstres/{{ item['image_objet_monstre'] }}" title="{{ item['nom_objet_monstre'] }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
<footer>
    <p>&copy; 2025 Ange | 705469010 - Tous droits réservés.</p>
</footer>
</html>