<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style copy.css') }}">
    <title>GenshinDB</title>
</head>
<body>
    <h1>GENSHIN DATABASE</h1>  

    <form action="/" method="get">
        <div class="recherche">
            <input type="text" name="nom_personnage_recherche" placeholder="Rechercher un personnage" value="{{ nom_recherche }}">
            <br>
            <button class="btn-recherche" type="submit">Rechercher</button>
        </div>

        <!-- Conteneur Grid -->
        <div class="grid-container">
            <div class="grid-header">
                <div><button class="tri" type="submit" name="tri" value="p.nom_personnage">Nom</button></div>
                <div><button class="tri" type="submit" name="tri" value="p.type_arme_personnage">Arme</button></div>
                <div><button class="tri" type="submit" name="tri" value="p.type_personnage">Element & Pierre</button></div>
                <div><button class="tri" type="submit" name="tri" value="boss.nom_boss">Boss</button></div>
                <div><button class="tri" type="submit" name="tri" value="bh.nom_boss_hebdo">Boss Hebdo</button></div>
                <div><button class="tri" type="submit" name="tri" value="fleurs.nom_fleur">Fleur</button></div>
                <div><button class="tri" type="submit" name="tri" value="livres.nom_livre">Livre</button></div>
                <div><button class="tri" type="submit" name="tri" value="om.nom_objet_monstre">Objet</button></div>
            </div>

            <div class="grid-items">
                {% for item in items %}
                    <div class="grid-item image-personnage">
                        <img src="{{ url_for('static', filename='/images/images_personnages/' + item['image_personnage']) }}" loading="lazy" title="{{ item['nom_personnage'] }}">
                        <p>{{ item['nom_personnage'] }}</p>
                    </div>
                    <div class="grid-item">
                        <img src="{{ url_for('static', filename='/images/images_armes/' + item['image_type_arme']) }}" loading="lazy" title="{{ item['type_arme_personnage'] }}">
                    </div>
                    <div class="grid-item fusion-element-pierre">
                        <img src="{{ url_for('static', filename='/images/images_elements/' + item['image_type']) }}" loading="lazy" title="{{ item['type_personnage'] }}">
                        <img src="{{ url_for('static', filename='/images/images_pierres/' + item['image_pierre']) }}">
                    </div>
                    <div class="grid-item">
                        <img class="image-boss" src="{{ url_for('static', filename='/images/images_boss/' + item['image_objet_boss']) }}" loading="lazy" title="{{ item['nom_objet_boss'] }}">
                        <p>{{ item['nom_boss'] }}</p>
                    </div>
                    <div class="grid-item">
                        <img class="image-boss-hebdo" src="{{ url_for('static', filename='/images/images_boss_hebdo/' + item['image_objet_boss_hebdo']) }}" loading="lazy" title="{{ item['nom_objet_boss_hebdo'] }}">
                        <p>{{ item['nom_boss_hebdo'] }}</p>
                    </div>
                    <div class="grid-item">
                        <img src="{{ url_for('static', filename='/images/images_fleurs/' + item['image_fleur']) }}" loading="lazy" title="{{ item['nom_fleur'] }}">
                    </div>
                    <div class="grid-item">
                        <img src="{{ url_for('static', filename='/images/images_livres/' + item['image_livre']) }}" loading="lazy" title="{{ item['nom_livre'] }}">
                    </div>
                    <div class="grid-item">
                        <img src="{{ url_for('static', filename='/images/images_objets_monstres/' + item['image_objet_monstre']) }}" loading="lazy" title="{{ item['nom_objet_monstre'] }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</body>
<footer>
    <p>&copy; 2025 Ange | 705469010 - Tous droits réservés.</p>
</footer>
</html>